 {%block content%}



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <h1><a class="navbar-brand" href="/">StudySumu</a></h1>
    
     
        <form method="GET" action="{% url 'home' %}">
            <input type="text"  name="q" placeholder="Search Rooms ..."/>
        </form>
     

   
    {% if request.user.is_authenticated %}
     <p>Hello {{request.user}}</p>
    <a href="{% url 'logout' %}"> Logout</a>
    {% else %}
    <a href="{% url 'login' %}"> Login</a>
    {% endif %}
    </div>
       <hr>
</nav>
{%endblock content%}